
<h1>Login</h1>
  {% if user.is_authenticated%}
    <h1>Loggedin</h1>
  {% else%}
    <h1>not logged</h1>
  {% endif%}
{{error}}
  <form method="post">
    {{ form.non_field_errors }}
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Login</button>
  </form>
